html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: #F5F5F5;  
}

header {
  background: #E0E0E0;  
  padding-top: 0.5rem;
}

nav {
  background: #212121;
  padding: 1rem;
}
li {
  list-style-type: none;
  display: inline-block;
  height: 2.5rem;
  width: 5rem;
  padding-top: 0.5rem;
  background: #377bb5;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

a {
  color: white;
}

li:hover {
  background: #F5F5F5;
}

li:hover a {
  color: black;
  text-decoration: none;
}

.active {
   background: #F5F5F5;
}
.active a {
  color: black;
  text-decoration: none;
}