@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: #F5F5F5;  
}

header {
  background: #212121;
  padding-top: 0.5rem;
  text-align: left;
}
.title-header{
  margin-left: 3rem;
}

.title-header h3 {
  color:white ;
  font-family: 'Indie Flower', cursive;
}

.title-header, nav {
  display: inline-block;
}
nav {
  text-align: center;
  float: right;
  margin-right: 3rem;
}

li {
  list-style-type: none;
  display: inline-block;
  width: 5rem;
  border-right: 1px solid #424242 ;
}

a {
  color: white;
}

li:hover:first-child,li:hover:nth-child(2) {
  background: #424242;
}

li:hover a {
  color: white;
  text-decoration: none;
}

.basket-icon {
  width: 1.5rem;
}

.basket-icon:hover {
  cursor: pointer;
}

#products {
  padding: 3rem;
}

.product {
  display: inline-block;
  margin: 0.5rem;
  width: 15rem;
  border: 0.1rem solid #EEEEEE;
  font-size: 1rem;
  transition: 0.12s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: white;
}

.product .box-image {
  width: 15rem;
  height: 13rem;
  position: relative;
}

.product .album-img {
  width: 12.2rem;
  border-radius: 0.3rem;
}

.product .play-icon {
  position: absolute;
  left:6rem;
  top: 4rem;
  display: none;
}

.product .album-img:hover{
  width: 12.3rem;
  opacity:0.8;
}

.product:hover .play-icon{
  display: block;
}
.product .details {
  text-align: left;
  font-size: 0.9rem;
  width: 12rem;
  margin: 0 auto;
}

.product .title{
  color: #9E9E9E;
}

.product .shop{
  margin-top: 1rem;
}

.product input[type='button']{
  margin-left: 0.8rem;
}
.product input[type='text'] {
  width: 2rem;
  height: 2rem;
  margin-top: 0.2rem;
  text-align: center;
}